@using Mag_Blog.CoreLayer.Services.Categories
@model Mag_Blog.Web.Areas.Admin.Models.Posts.EditPostViewModel
@inject ICategoryService _service;
@{
    ViewData["Title"] = "ویرایش پست";
    Layout = "_AdminLayout";
    ViewData["selected"] = "post";
    var categories = _service.GatAllCategories();
}

<section class="content-header">
    <h1>
        @ViewData["Title"]
    </h1>
    <ol class="breadcrumb">
        <li>
            <a asp-action="Index" asp-controller="Home" asp-area="Admin"><i class="fa fa-dashboard"></i> خانه</a>
            <a asp-action="Index" asp-controller="Post" asp-area="Admin"><i class="fa fa-dashboard"></i> پست ها</a>
        </li>

        <li class="active">@ViewData["Title"]</li>
    </ol>
</section>
<section class="content">
    <form class="box box-danger" method="Post" asp-area="Admin" asp-controller="Post" asp-action="Edit" enctype="multipart/form-data">
        <div class="box-body row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input type="text" asp-for="Title" class="form-control">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Slug"></label>
                    <input type="text" asp-for="Slug" class="form-control">
                    <span asp-validation-for="Slug" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Description"></label>
                    @Html.EditorFor(m => m.Description)
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CategoryId"></label>
                    <select asp-for="CategoryId" class="form-control">
                        <option value="">انتخاب کنید</option>
                        @foreach (var item in categories.Where(p => p.ParentId == null))
                        {
                            <option value="@item.Id">@item.Title</option>

                        }
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="SubCategoryId"></label>
                    <select asp-for="SubCategoryId" class="form-control">
                              <option value="">انتخاب کنید</option>
                       @foreach (var item in categories.Where(p => p.ParentId == Model.CategoryId))
                                                {
                                                    <option value="@item.Id">@item.Title</option>
                        
                                                }
                    </select>
                    <span asp-validation-for="SubCategoryId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                @Html.EditorFor(p=>p.ImageFile)
            </div>
        </div>
        <div class="box-footer">
            <button class="btn btn-success" type="submit">ایجاد</button>
        </div>
    </form>
</section>

@section Scripts
{
    <script >
    $("#CategoryId").change(function (){
        var value=$(this).val();
        console.log(value);
        $.ajax({
        url:"/admin/category/GetChildCategories?parentid="+value,
        type:"get"
        }).done(function (date){
              $("#SubCategoryId").html(`<option value="">انتخاب کنید</option>`)
            for (var i in date)
            {
                var cat=date[i];
                $("#SubCategoryId").append(`<option value="${cat.id}">${cat.title}</option>`);
            }
            
        });
        })
    </script>
}